body 
{ 
	font: 16px Verdana;
	color:#0000CD;
    line-height:1.6;
	background: #F3F3F3;
	margin:0px;
	background-color: #F0FFFF;
	text-align: center;
	  }

table
{
  margin: 100px 80px 0px 80px; 
  border-spacing: 0;
	border-collapse: collapse;
}
td, th
{
	border: 1px solid black;
}
tr
{
	border: 3px solid black;
}
th
{	
	background-color: green;
	font-weight: bold;
	color:#DEB887
}

img
{
	height: 220px;
	width: 220px;
}

h1
{
	text-align: center;
	font-weight: bold;
	text-shadow: 3px 2px red;
	color:#7FFF00;
	text-decoration: underline;
}

#but
{
text-align: center;
}
button, input {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

button:hover {
  background-color: #555555;
  color: white;
}